.loginToProfileOrRegistr {
  width: 90%;
  height: 90%;
  position: fixed;
  z-index: 2;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: var(--main-color);
  box-shadow: 0.5px 0.5px 1px 1px black;
  padding: 30px;
  border-radius: 20px;
  top: 5%;
  bottom: 5%;

  opacity: 0;
  transform: translateX(200%);
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
  &.active {
    display: flex;
    opacity: 1;
    transform: translateX(0);
  }

  & .conteiner__button__show__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 1s ease-in;
    position: absolute;
    z-index: 1;

    &.active {
      opacity: 0;
      transform: translatex(-100%);
      z-index: -1;
    }
  }
  & .btn__close {
    color: red;
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 900;
  }
  & .button__modal {
    position: relative;
    font-size: 2rem;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 1s ease-in;
  }
  & .button__modal:hover {
    background-color: var(--light-bg);
  }
}
.loginToProfile {
}
.button__modal {
}
.conteinerLoginPtofile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: -1;
  opacity: 0;
  transition: 1s ease-in;
  transform: translateX(200px);

  &.active {
    z-index: 1;
    opacity: 1;
    transform: translateX(0px);
  }
  & input {
    padding: 10px;
    border-radius: 10px;
  }
}
.showModalForm {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: -1;
  opacity: 0;
  transition: 1s ease-in;
  transform: translateX(200%);
  &.active {
    z-index: 1;
    opacity: 1;
    transform: translateX(0px);
  }
  & input {
    padding: 10px;
    border-radius: 10px;
  }
}
.button__Modal {
}
.hidden {
  display: none;
}
